{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "plugins": [
    "import",
    "json",
    "react"
  ],
  "rules": {
    "arrow-body-style": [2, "always"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
      "imports": "always-multiline",
      "objects": "always-multiline",
    }],
    "max-len": [2, 120],
    "no-console": 0,
    "no-continue": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "object-property-newline": 1,
    "prefer-template": 1,

    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],

    "react/forbid-prop-types": 1,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/no-unused-prop-types": 0,
  }
}
